:root {
    --bg-color: rgb(255, 214, 204); /* #232b32*/
    --header-txt-color: rgb(243, 96, 96); /* #f5f6f7 */
    --top-button-bg-color: rgb(243, 96, 96); /* #4a5568*/
    --top-button-color: rgb(255, 255, 255); /* #f5f6f7 */
    --divider-color: rgba(123, 12, 12, 0.31); /* #9c9c9c*/
    --inactive-button-color: rgba(243, 96, 96, 0.376); /* #2d3848bf*/
    --pop-up-bg-color: rgb(245, 245, 245); /* #3a4556*/
    --pop-up-color: rgb(85, 85, 85); /* #f5f6f7*/
    --slider-bg-color: rgb(204, 204, 204);
    --slider-bg-color-checked: rgb(163 243 67 / 88%);
    --vol-slider-thumb-color: rgb(230, 229, 229);
    --settings-input-bg-color: rgb(234, 234, 234); /* #4a5568*/
    --footer-bg-color: rgb(234, 234, 234); /* #2d3848*/
}